/* Reseta margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    color: #DB7093;
    background-color: black;
}

.container {
    width: 90%;
    max-width: 800px;
    border: 5px dashed #333; /* Borda de tracinho */
    padding: 20px;
    background-color: #fff; /* Cor de fundo dentro da borda */
    border-radius: 8px; /* Borda arredondada */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #DB7093;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #DB7093;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    margin-bottom: 10px;
}
