/* Reseta margens e preenchimentos padrão */
/* Reseta margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333333;
    padding: 20px;
    color: #DB7093;
}

.container {
    width: 90%;
    max-width: 800px;
    border: 5px dashed #ff6f61; /* Borda de tracinho */
    padding: 20px;
    background-color: black; /* Cor de fundo dentro da borda */
    border-radius: 8px; /* Borda arredondada */
}

h1,
h2 {
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transição suave para a animação */
}

.animated-text {
    cursor: pointer; /* Muda o cursor para indicar interatividade */
}

.animated-text:hover {
    color: #FF1493; /* Cor do texto ao passar o mouse */
    text-shadow: 2px 2px 5px rgba(255, 105, 97, 0.7); /* Sombra ao passar o mouse */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #DB7093;
}

.animated-image {
    width: 300px; /* Tamanho inicial da imagem */
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Transição suave para animação */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
}

.animated-image:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem ao passar o mouse */
    box-shadow: 0 0 15px rgba(255, 105, 97, 0.7); /* Adiciona sombra */
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #DB7093;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    margin-bottom: 10px;
}
